lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Coverage reports
coverage
.nyc_output/

# API keys and secrets
.env

# Dependency directory
*/node_modules

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Typescript v1 declaration files
typings/

node_modules/